.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #646464b9;
    backdrop-filter: blur(10px);
    color: #ffffff;
    z-index: 100000;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_logo {
        position: relative;
        cursor: pointer;
        font-size: 25px;
        font-weight: 700;
        background: linear-gradient(90deg, rgb(192, 192, 192), rgb(242, 255, 166));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after {
            content: "Trucking";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgb(242, 255, 166), rgb(192, 192, 192));
            opacity: 0;
            transition: all .3s ease;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            &::after {
                opacity: 100;
            }
        }
    }
    &_number {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            right: 0;
            height: 3px;
            width: 10%;
            border-radius: 50px;
            background: linear-gradient(90deg, rgb(192, 192, 192), rgb(242, 255, 166));
            transition: all .3s ease;
        }
        &:hover {
            &::after {
                width: 80%;
            }
        }
    }
}