.promo {
    position: relative;
    height: 100vh;
    background: url("../images/asphalt-cars-clouds-1307546.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #6d6d6da6;
        backdrop-filter: blur(10px);
        z-index: 10;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    &_text {
        width: 100%;
        text-align: center;
        span {
            font-size: 30px;
            font-weight: 600;
        }
        &-map {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 0 100px;
        }
        &-point {
            position: relative;
            width: 150px;
            font-size: 20px;
            &:before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 10px;
                height: 10px;
                border-radius: 20px;
                background: rgb(99, 193, 255);
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 65%;
                width: 100px;
                height: 10px;
                border-radius: 20px;
                background: rgb(99, 193, 255);
            }
            &:nth-child(2) {
                &::after {
                    left: unset;
                    right: 65%;
                }
            }
        }
    }
    &_button {
        position: relative;
        cursor: pointer;
        font-size: 23px;
        padding: 5px 10px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        overflow: hidden;
        transition: all .3s ease;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #ffffff;
            width: 0;
            transition: all .3s ease;
            border-radius: 0 50% 50% 0;
            z-index: -1;
        }
        &:hover {
            color: #000000;
            &:before {
                width: 100%;
                border-radius: 0;
            }
        }
    }
}


@media (max-width: 750px) {
    .promo {
        &_text {
            span {
                font-size: 25px;
            }
        }
    }
}