@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    position: relative;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 100
}

@media (max-width: 1400px) {
    .container {
        max-width: 80vw;
    }
}


@import "./header";
@import "./promo";
@import "./contact";
@import "./request";